<! DOCTYPE html>
<html>
    <head>
        <title>SHS Info</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
    </head>
    <body>
        <p>
            "Hello you will get to know all the information about us on this page."
        </p>
        
    </body>
</html>